*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 50px;
}

article#el-pai{
    width: 100vw;
    height: 100vh;
    padding: 5px;
    background-color: tomato;
}
/* article#el-pai p#el-filho{
    width: 100%;
    height: auto;
    background-color: coral;
    font-size: 2em; /*20px
} */
article#el-pai p#el-filho{
    width: 100%;
    height: auto;
    background-color: coral;
    font-size: 0.5rem; /*32px*/
}
