*{
    margin: 0;
    bottom: 0;
    padding: 0;
}
div{
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    margin: 30px auto;
    /*background-color: rgba(255, 193, 7, 0.5);*/
    /*background: linear-gradient(to bottom, #7B1FA2, #E53935);*/
    background: radial-gradient(circle, #7B1FA2, #E53935);
}