*{
    margin: 0;
    padding: 0;
    border: 0;
}
div#imagem{
    width: 800px;
    height: 600px;
    border: 1px solid #000;
    background-image: url(../img/mountains-g426ad6b75_640.jpg);
    background-size: 25%;
    background-repeat: repeat-y;

}